.top-head {
  margin: 0;
  background-color: var(--color-one);
  color: var(--color-three);
  font-size: 2rem;
}

.top-head-logo-row {
  display: flex;
  justify-content: space-between;
}

.top-head-logo {
  margin: 0;
  color: var(--color-four);
  padding: 0.5rem 0 1rem 0.8rem;
}

.top-menu-bars {
  padding: 0.7rem 1rem 1rem 0;
}

.top-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
}

.top-menu-list-item {
  margin: 1rem 0 1rem 0;
}

.top-menu-list-item:hover {
  color: var(--color-five);
}