@import url('https://fonts.googleapis.com/css?family=Muli:200,400,700');

:root {
  --color-one: #174040;
  --color-two: #888C65;
  --color-three: #D9CA9C;
  --color-four: #D98162;
  --color-five: #A65858;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
